[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SandeepNag0029
[access "refs/for/refs/*"]
	read = group user/SandeepNag0029
	push = group user/SandeepNag0029
	label-Code-Review = -2..+2 group user/SandeepNag0029
	label-Verified = -1..+1 group user/SandeepNag0029
	rebase = group user/SandeepNag0029
	removeReviewer = group user/SandeepNag0029
	submit = group user/SandeepNag0029
[access "refs/heads/*"]
	read = group user/SandeepNag0029
	create = group user/SandeepNag0029
	push = +force group user/SandeepNag0029
	pushMerge = group user/SandeepNag0029
[access "refs/tags/*"]
	push = +force group user/SandeepNag0029
	pushTag = group user/SandeepNag0029
	pushSignedTag = group user/SandeepNag0029
